body {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #555;
    background-image: url('/static/header-bg.png');
    background-repeat:repeat-x;
}

.search-box {
    top: -50px;
    position: relative;
}

.nav-tabs {
    position: relative;
    top: 2px;
    border-bottom: 0.5px;
    margin-left: -15px;
}

.container-narrow {
    margin: 0 auto;
    min-width: 750px;
    max-width: 1100px;
}

.nav > li > a {
    color: #fff;
}

.nav > li > a:hover {
    color: #06C;
}

.nav>li>a:focus {
    background-color: #06C;
}

.title {
    color: #fff;
}

td {
    padding-left: 30px;
}

.table-holder {
    overflow-x: scroll;
}

.extension {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    line-height: 10px;
    margin-left: 10px;
}

.filter {
    background-color: #234f8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #aaa;
    font-size: 17px;
    width: 100px;
    margin-left: 10px;
}

.contents {
    text-align:left;
    list-style-type:none;
    margin-left:-15px;
}

.level2 {
    margin-left:30px;
}

.main {
    width: 210px;
    margin: 60px 0;
    text-align: center;
    background-color: #F0F0F0;
    border-radius: 0.4em;
    padding-top: 0.4cm;
    padding-bottom: 0.3cm;
    padding-right, padding-left:0.2cm;
}

