<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shumgrepper</title>
    <style type="text/css">·
    th {
        height: 50px;
        font: bold;
    }

    table,th,td
    {
        height: 25px;
        font-size: 12px;
        border:2px solid black;
        border-collapse:collapse;
    }
    </style>
  </head>
  <body>
    <table style="width:1200px">
    <tr>
        {% for i in range(length) %}
            <th>{{ compared_values[i] }}</th>
        {% endfor %}
            <th> sha256sum </th>
    </tr>
    {% for a_file in all_files %}
    <tr>
      {% for i in range(length+1) %}
        <td>{{ a_file[i] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </body>
</html>

