{% extends "base.html" %}

{% block content %}

    <table>
    <tr>
        <th>FILENAME</th>
        <th>SHA256SUM</th>
        <th>SHA1SUM</th>
        <th>MD5SUM</th>
        <th>PACKAGE NAME</th>
        <th>TARFILE</th>
        <th>TARSUM</th>
    </tr>
    {% for a_file in all_files %}
        <tr> 
            <td>{{ a_file.filename }}</td>
            <td>{{ a_file.sha256sum }}</td>
            <td>{{ a_file.sha1sum }}</td>
            <td>{{ a_file.md5sum }}</td>
            <td>{{ a_file.pkg_name }}</td>
            <td>{{ a_file.tar_file }}</td>
            <td>{{ a_file.tar_sum }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
