<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shumgrepper</title>
    <style type="text/css"> 
    th {
        height: 50px;
        font: bold;
    }

    table,th,td
    {
        height: 30px;
        border:2px solid black;
        border-collapse:collapse;
    }
    </style>
  </head>
  <body>
    <table style="width:1200px">
    <tr>
        <th>TARFILE</th>
        <th>FILENAME</th>
        <th>SHA256SUM</th>
    </tr>
    {% for a_file in all_files %}
        <tr>
            <td>{{ a_file.tar_file }}</td>
            <td>{{ a_file.filename }}</td>
            <td>{{ a_file.sha256sum}}</td>
        </tr>
    {% endfor %}
  </body>
</html>

