<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shumgrepper</title>
    <style type="text/css"> 
    th {
        height: 50px;
        font: bold;
    }

    table,th,td
    {
        height: 25px;
        font-size: 12px;
        border:2px solid black;
        border-collapse:collapse;
    }
    </style>
  </head>
  <body>
    <table style="width:1200px">
    <tr>
        <th>TARFILE</th>
        <th>MD5SUM</th>
        <th>FILENAME</th>
        <th>PACKAGE NAME</th>
        <th>SHA256SUM</th>
        <th>TARSUM</th>
        <th>SHA1SUM</th>
    </tr>
    {% for a_file in all_files %}
        <tr> 
            {% for value in a_file.values() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </body>
</html>

