{% extends "base.html" %}

{% block content %}
    <h1>Search Packages</h1>
    <p>{{packages_count}} packages found </p>

    <form action="{{ url_for('.%s' % origin) }}" method="get">
    Restrict to extension type:
    <select name="extension">
      <option value="" {% if not extension %} selected {% endif %}>All</option>
      <option value=".jar" {% if extension == '.jar' %} selected {% endif %}>.jar</option>
      <option value=".os" {% if extension == '.os' %} selected {% endif %}>.os</option>
      <option value=".war" {% if extension == '.war' %} selected {% endif %}>.war</option>
    </select> <br />
    <input type="submit" class="submit positive button" value="filter">
    </form>
    {% if total_page and total_page > 1 and total_page >= page %}
    <table>
        <tr>
            <td>
            {% if page > 1 %}
                <a href="{{ url_for('.%s' % origin, page=page-1, extension=extension)}}">
                < Previous
                </a>
            {% else %}
                < Previous
            {% endif %}
            </td>
            <td> {{ page }} / {{ total_page }} </td>
            <td>
                {% if page < total_page %}
                <a href="{{ url_for('.%s' % origin, page=page+1, extension=extension)}}">
                    Next >
                </a>
                {% else %}
                    Next >
                {% endif %}
            </td>

        </tr>
    </table>
    {% endif %}

    <ul>
        {% if total_page >= page and page > 0 %}
            {% for package in packages %}
            <li>
                <a href="{{url_for('.package', package=package)}}">
                {{ package }}</a>
            </li>
            {% endfor %}
        {% elif total_page %}
        <li>Sorry, but the page you are requesting is unavailable. <br />
            <a href="{{ url_for('.%s' % origin) }}">
                Back to the list
            </a>
        </li>
        {% else %}
        <p class='error'>No package found in the database.</p>
        {% endif %}
    </ul>

{% endblock %}

